body{font-family: 'Open Sans', helvetica, arial, sans-serif;}
.gRight{float: right;}
.txt__right{text-align: right;}
.txt__center{text-align: center;}
.txt__left{text-align: left;}

header{
    nav{
        margin: 0;
        text-transform: uppercase;
        a{display: inline-block;margin-right: 10px;padding: 10px 0;}
        .badge{font-style: normal;}
    }
    .logo{
        text-align: center;
        margin-top: 30px;
    }
    ul.logo{
        list-style: none;
            li{
                display: inline-block;
                padding: 7px 25px 9px 25px;
                position: relative;
                text-transform: uppercase;
                cursor:pointer;
                    a{text-transform: uppercase;color: #333;}
                    .span4{
                        display: none;
                        position: absolute;
                        top:30px;
                        left: 0px;
                        border: 1px solid #ccc;
                    }
                    &.active{z-index: 200;  border:1px solid #ccc;
                        border-bottom-color: #fff;
                        padding: 6px 24px 9px 24px;}
            }
    }
}

.hide__section{
    padding-top: 20px;
    display:none;
    background: #EBEBEB;
    legend{margin-left: 70px}

    h2{
        font-weight: normal;
        margin-bottom: 10px;
    }
    .secureLogo{
        .icon{
            font-size: 26px;
        }
        color: #46a546;
        margin: 40px 0 10px 0;
    }
    .form-horizontal{
        a.fogoten{
          font-size: 0.9em;
          margin-left: 20px;
        }
    }
    .form-actions{
        background: none;
        border: 0;
    }
    .search{
        button{padding-left:10px}
    }
    .phone{
        font-size: 48px;
        margin:30px 0;
    }
}

/*
    @todo:
    do refactor, use bootstrap grid

*/
.dl-horizontal {
    text-align: left;
}
span.red_star{
    font-size: 1.4em;
    color: #D14;
}
.data_block{
    min-height: 500px;
}
.bg_silder {
    background: #f5f5f5;
    padding:10px 0;
        img{
            float: left;
            padding-right: 10px;
        }
}
.hiddens{
    display: none;
}
.carousel-caption{
    text-align: left;
}
//Item Size block
.fontSize300{
    font-size: 300px;
}
.fontSize50{
    font-size: 50px
}

.fontSize230{
    font-size: 230px
}

//Demo box add Size
.size1170x480{
    width: 1170px;
    height: 480px;
}
.demoBox{
    text-align: center;
}
//Fix css
.products{
    margin-left: 20px;
}