@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";
@import "../fonts/awesome/less/font-awesome.less";

body{font-family: 'Open Sans', helvetica, arial, sans-serif;}
.gRight{float: right;}
.txt__right{text-align: right;}
.txt__center{text-align: center;}
.txt__left{text-align: left;}

header{
    nav{
        margin: 0;
        text-transform: uppercase;
        a{display: inline-block;margin-right: 10px;padding: 10px 0;}
        .badge{font-style: normal;}
    }
    .logo{
        text-align: center;
        margin-top: 30px;
    }
    ul.logo{
        list-style: none;
            li{
                display: inline-block;
                padding: 7px 25px 9px 25px;
                position: relative;
                text-transform: uppercase;
                cursor:pointer;
                    a{text-transform: uppercase;color: #333;}
                    .span4{
                        display: none;
                        position: absolute;
                        top:30px;
                        left: 0px;
                        border: 1px solid #ccc;
                    }
                    &.active{z-index: 200;  border:1px solid #ccc;
                        border-bottom-color: #fff;
                        padding: 6px 24px 9px 24px;}
            }
    }
}

.hide__section{
    padding-top: 20px;
    display:none;
    background: #EBEBEB;
    legend{margin-left: 70px;border: 0;}
    .search{
        button{padding-left:10px}
    }
    .phone{
        font-size: 48px;
        margin:30px 0;
    }
}
.login__section{
    legend{border: 0;}
    h2{
        font-weight: normal;
        margin-bottom: 10px;
    }
    .secureLogo{
        .icon{
            font-size: 26px;
        }
        color: @blueDark;
        margin: 40px 0 10px 0;
    }
    .form-horizontal{
        a.fogoten{
          font-size: 0.9em;
          margin-left: 20px;
        }
    }
    .form-actions{
        background: none;
        border: 0;
    }

}
.login__without{
    .secureLogo{
        font-size: 1.8em;
        .icon{
            font-size: 30px;
        }
        color: @blueDark;
        padding: 10px 0 10px 20px;
    }
}

/*
    @todo:
    do refactor, use bootstrap grid

*/
.dl-horizontal {
    text-align: left;
}
span.red_star{
    font-size: 1.4em;
    color: #D14;
}
.data_block{
    min-height: 500px;
}
.bg_silder {
    background: #f5f5f5;
    padding:10px 0;
        img{
            float: left;
            padding-right: 10px;
        }
}
.hiddens{
    display: none;
}
.carousel-caption{
    text-align: left;
}
//Item Size block
.fontSize300{
    font-size: 20em;
}
.fontSize50{
    font-size: 50px
}
.fontSize120{
    font-size: 15em;
}
.fontSize230{
    font-size: 230px
}

//Demo box add Size
.size1170x480{
    width: 1170px;
    height: 480px;
}
.demoBox{
    text-align: center;
}
.fontSize3{
    font-size: 3em;
    color: #ccc;
}
//Fix css
.product{
    margin: 0 0 10px 20px;
    .image{
        height:280px;
        margin:10px 0 0;
        .text-overflow();
    }
    border: 1px solid @grayLighter;
    .border-radius();
    .caption{margin:0 10px}
    &:hover{
        .box-shadow();
    }

}
.product_slide{
    margin: 0 11px 0 65px;
    border: 1px solid @grayLighter;
    padding: 10px;
    line-height: 1;
    .border-radius();

    &:hover{
        .box-shadow();
    }
}
.pop_item{
    margin:20px 40px 0 0;
    border: 1px solid @grayLighter;
    padding: 10px;
    line-height: 1;
    .border-radius();

    &:hover{
        .box-shadow();
    }
}
footer{
    border-top:1px solid @grayLighter;
    padding:10px 0;
    margin:10px 0 0;
}
.box_pro{
     list-style:none;
    margin-left: -30px;
    text-align:center;
    li{
        border: 1px solid @grayLighter;
        padding:10px 0;
        .border-radius();
        margin-bottom: 15px;
        height: 50px;
        &.big_prod{
            height: 240px;
            padding-top: 30px;
        }
    }
}
h3 span{
    color: @orange;
}
.prod_info dd,
.prod_info dt{
    padding: 5px 0;
}