
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fevent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le less -->
    <link href="static/bootstrap/less/bootstrap.less" rel="stylesheet/less">
    <link href="static/bootstrap/less/responsive.less" rel="stylesheet/less">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

    <!-- custom less -->
    <link href="static/fonts/awesome/less/font-awesome.less" rel="stylesheet/less">
    <link href="static/less/style.less" rel="stylesheet/less">

    <script src="static/js/less.js/dist/less-1.3.0.min.js"></script>

    <title>{% block title %}Fevent{% endblock %}</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="static/js/libs/yepnope.1.0.2-min.js"></script>
    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="static/bootstrap/less/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/bootstrap/less/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/bootstrap/less/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/bootstrap/less/ico/apple-touch-icon-57-precomposed.png">
    -->
</head>

<body>
{% block header%}

{% include "inc/signup_header.html" %}

<div class="container">
<header>
    <nav class="nav login_block">
        <a href="#">Category</a>
        <a href="#">Blog</a>
        <a href="#">About shop</a>
        <a href="#">Contact us</a>
        <a href="#" class="login">Login<i class="icon-signin"></i></a>
    </nav>
</header>
{% endblock%}


     <div class="data_block">
    {% block content%}

    {% endblock%}
     </div>

        {% block footer%}
    <footer>
               <div class="best_sell">
                   <div class="grid4">
                       <figure>
                           <a href="#"><img src="http://placehold.it/60x60/f9f9f9" alt=""></a>
                           <a href="#"><figcaption>Best Product of the week<br> nice <strogn>description</strogn></figcaption></a>
                       </figure>
                   </div>
                   <div class="grid4">
                       <figure>
                           <a href="#"><img src="http://placehold.it/60x60/f9f9f9" alt=""></a>
                           <a href="#"><figcaption>Best Product of the week<br> nice <strogn>description</strogn></figcaption></a>
                       </figure>
                   </div>
                   <div class="grid4">
                       <figure>
                           <a href="#"><img src="http://placehold.it/60x60/f9f9f9" alt=""></a>
                           <a href="#"><figcaption>Best Product of the week<br> nice <strogn>description</strogn></figcaption></a>
                       </figure>
                   </div>
                   <div class="grid4">
                       <figure>
                           <a href="#"><img src="http://placehold.it/60x60/f9f9f9" alt=""></a>
                           <a href="#"><figcaption>Best Product of the week<br> nice <strogn>description</strogn></figcaption></a>
                       </figure>
                   </div>
               </div>
        <div class="footer_info">
            <ul class="unstyled">
                <li><a href="#" class="header">Company Info</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Awards</a></li>
                <li><a href="#">Press Releases</a></li>
                <li><a href="#">Become an Affiliate</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            <ul class="unstyled">
                <li><a href="#" class="header">Customer Service</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Return a Product</a></li>
                <li><a href="#">Low Price Guarantees</a></li>
                <li><a href="#">Forgot Password?</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="unstyled">
                <li><a href="#" class="header">About</a></li>
                <li><a href="#">Affiliate program</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Store locations</a></li>
            </ul>
            <ul class="unstyled">
                <li><a href="#" class="header">Subscribe</a></li>
                <li><a href="#">Always be aware of</a></li>
                <li>
                    <form class=" form-inline">
                        <input type="text" class="input-medium" placeholder="Email">
                        <button type="submit" class="btn"><i class="icon-envelope"></i></button>
                    </form>
                </li>
            </ul>
            <ul class="unstyled">
                <li><a href="#" class="header">Nearest provider</a></li>
                <li><a href="#">Best way to buy</a></li>
                <li>
                    <form class=" form-inline">
                        <input type="text" class="input-medium" placeholder="Email">
                        <button type="submit" class="btn"><i class="icon-exclamation-sign"></i></button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="payment_logo">
            <img src="static/img/visa_logo.jpg" alt="">
            <img src="static/img/paypal_logo.png" alt="">
            <img src="static/img/master_card.gif" alt="">
        </div>
        <div class="seo_block">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<strong> Lorem Ipsum</strong> has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. <strong>It has survived</strong> not only five centuries, but also
                the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like <strong>Aldus PageMaker</strong> including versions of Lorem Ipsum.</p>
        </div>
        <div class="corporate">
            &copy; Corporate <b>MediaSapiens</b> 2011 - 2012
          <div class="agb">
                  <a href="#">AGB</a> <span class="divider">|</span>
                  <a href="#">Impressum</a> <span class="divider">|</span>
                  <a href="#">Data</a>
          </div>
        </div>
    </footer>
        {% endblock%}



</div><!--end container-->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script>
    if (!window.jQuery) {
        yepnope('static/js/libs/jquery-1.6.1.min.js');
    }
</script>

<script src="static/bootstrap/js/bootstrap-transition.js"></script>
<script src="static/bootstrap/js/bootstrap-alert.js"></script>
<script src="static/bootstrap/js/bootstrap-modal.js"></script>
<script src="static/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="static/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="static/bootstrap/js/bootstrap-tab.js"></script>
<script src="static/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="static/bootstrap/js/bootstrap-popover.js"></script>
<script src="static/bootstrap/js/bootstrap-button.js"></script>
<script src="static/bootstrap/js/bootstrap-collapse.js"></script>
<script src="static/bootstrap/js/bootstrap-carousel.js"></script>
<script src="static/bootstrap/js/bootstrap-typeahead.js"></script>
<script src="static/js/script.js"></script>


<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload', function () {
    CFInstall.check({mode:'overlay'})
})</script>
<![endif]-->
</body>
</html>
