{% extends "base.html" %}

{% block content%}
<section class="row nav">
    <div class="span12">
        <nav class="span5 offset3 nav">
            <ul class="nav nav-pills">
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
            </ul>
        </nav>
    </div>
    <div class="row">
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
  </div>
</section>


{% endblock %}