{% extends "base.html" %}

{% block content%}
<section class="row">

    <ul class="breadcrumb span4 txt__left">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="product_list">Category of product</a> <span class="divider">/</span>
        </li>
        <li class="active">This product</li>
    </ul>
</section>
<section class="row">
    <div class="span7">
        <div class="box_pro txt__center">
            <div class="span6 big_prod">
               <i class="icon-gift fontSize300"></i>
            </div>
            <div class="span2">
                <i class="icon-gift fontSize3"></i>
            </div>
            <div class="span2">
                <i class="icon-gift fontSize3"></i>
            </div>
            <div class="span2">
                <i class="icon-gift fontSize3"></i>
            </div>
        </div>
    </div>
    <div class="span5">
        <h3><span>Product ID:</span> №121-15-155</h3>
        <h2>Product name</h2>
        <h3><small>€</small> 39.99</h3>
        <dl class="dl-horizontal prod_info">
            <dt>Product info</dt>
            <dd>A description list is perfect for defining terms.</dd>
            <dt>Recommendation</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
            <dt>Other info</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
            <dt>One more info</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
        </dl>
    </div>
</section>
<section class="row">
<h1 class="span8">Recomedations of the day</h1>


    <div class="span12 nav">
        {% include "inc/pop_item.html" %}
        {% include "inc/pop_item.html" %}
        {% include "inc/pop_item.html" %}
        {% include "inc/pop_item.html" %}
        {% include "inc/pop_item.html" %}
    </div>


<h1 class="span8">Together with this product bought</h1>


    <div class="span12 nav">
        {% include "inc/pop_item.html" %}
        {% include "inc/pop_item.html" %}
        {% include "inc/pop_item.html" %}
        {% include "inc/pop_item.html" %}
        {% include "inc/pop_item.html" %}
    </div>

</section>
{% endblock %}