{% extends "base.html" %}

{% block content%}
<section class="row nav">

        <nav class="span5 offset4 nav">
            <ul class="nav nav-pills">
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
                <li><a href="#">SubLIne</a></li>
            </ul>
        </nav>
</section>
<div class="row">
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}
        {% include "inc/item.html" %}

</div>


{% endblock %}