<section class="container-fluid cart__section hide__section">
    <div class="container txt__center">
        <div class="span8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Items</th>
                <th>Count</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">First Item</a></td>
                <td>2</td>
                <td>19.99 $</td>
                <td>39.88 $</td>
            </tr>
            <tr>
                <td><a href="#">Second Item</a></td>
                <td>1</td>
                <td>39.99 $</td>
                <td>39.99 $</td>
            </tr>

            </tbody>

        </table>
        <span class="offset6 span2 nav">
           <button class="btn "><i class="icon-shopping-cart"></i>Checkout</button>
        </span>

    </div>
    <div class="span3 txt__left">
        <h2>Summary</h2>
        <dl class="dl-horizontal">
            <dt>Subtotal</dt>
            <dd>59.98 $</dd>
            <dt>Shipping</dt>
            <dd>19.99 $</dd>
            <dt>Tax</dt>
            <dd>5.99 $</dd>
            <dt>Total</dt>
            <dd>88.88 $</dd>
        </dl>


    </div>
</section>