<section class="container-fluid cart__section hide__section">
    <section class="container  ">
        <div class="row">
           <div class="span12 cart_border">
            <div class="span4">
                <h3>ITEMS</h3>
            </div>
               <div class="span3 offset2">
                <h3>SUBTOTAL: <strong>48.55 € </strong></h3>
            </div>
             <div class="span2">
                 <a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i> Checkout</a>
            </div>
           </div>
        </div>
        <div class="row">
                <div class="cart_prod span3">
                    <i class="icon-gift fontSize13 span2"></i>
                    <ul class="info span2 offset1 unstyled">
                        <li>Product ID</li>
                        <li>Product name</li>
                        <li>Proce: 39.99 €</li>
                        <li><button href="#" class="btn btn-danger"><i class=" icon-remove"></i> remove</button></li>
                    </ul>
                </div>
                <div class="cart_prod span3">
                    <i class="icon-gift fontSize13 span2"></i>
                    <ul class="info span2 offset1 unstyled">
                        <li>Product ID</li>
                        <li>Product name</li>
                        <li>Proce: 39.99 €</li>
                        <li><button href="#" class="btn btn-danger"><i class=" icon-remove"></i> remove</button></li>
                    </ul>
                </div>
                <div class="cart_prod span3">
                    <i class="icon-gift fontSize13 span2"></i>
                    <ul class="info span2 offset1 unstyled">
                        <li>Product ID</li>
                        <li>Product name</li>
                        <li>Proce: 39.99 €</li>
                        <li><button href="#" class="btn btn-danger"><i class=" icon-remove"></i> remove</button></li>
                    </ul>
                </div>
        </div>
    </section>
</section>